<head>
  <link type="text/css" rel="stylesheet" href="../assets/css/cover.css">
</head>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Bottlecap.io</h1>
          <p class="lead">Bottlecap image thing site </p>
        <p class="lead">
          <a href="/login" class="btn btn-lg btn-default"><i class="fa fa-sign-in"></i> Login </a>
          <a href="/newUser" class="btn btn-lg btn-default"><i class="fa fa-user-plus"></i> New User </a>
        </p>

      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Rocco Farell and Josh Martin</p>
        </div>
      </div>

    <!-- cover-container -->
    </div>

  <!-- site-wrapper-inner -->
  </div>

<!-- site-wrapper -->  
</div>