<div class="belowNav">
  <div class="mainLogo">
    <img width="300px" src="../assets/img/logo_main_edit.png"/>
  </div>
  <div class="col-lg-10 logoByline"><h2> Design your very own bottlecap table or surface</h2></div>
  <div class="col-lg-10 mainSearch">
      <!--
      <div id="dropdownBox" class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          Search for...
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Beers</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cap Colors</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Users</a></li>
        </ul>
      </div>
      -->
      

    <div class="input-group mainSearchLine">
      <form ng-submit="main.searchSubmit()">
        <div class="searchSelect"> Search by: 
          <select id="selectionBox" ng-model="main.searchSelection" ng-options="option.lookupCode as option.description for option in main.lookup_options">
          </select>
        </div>
        <div class="input-group">
          <input id="inputBox" ng-model="main.searchText" type="text" name="searchText" class="form-control" placeholder="Enter search">
          <span id="searchButton" class="input-group-btn">
            <button class="btn" type="submit">Go!</button>
          </span>
        </div>
      </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-10 -->

  <div class="col-sm-12 bottlecapShowcase">
  <h1>Most Popular Bottlecaps</h1>
    <div ng-repeat="(key, capData) in main.bottlecapsList" class="col-sm-2 bottlecapCircleContainer">
    <a ng-href="/caps/{{capData._id}}">
      <h4 id="bottlecapLabel_showcase" >{{capData.beername}}</h4>
      <div class="bottlecapCircle">
        <div class="bottlecapCircleInner" ng-style="main.setCapCircleColor(capData)" >
        </div>
      </div>
    </a>
    </div>
  </div>

</div>