<div class="belowNav">
  <div class="mainLogo">
    <img src="../assets/img/logo_main_edit.png"/>
  </div>
  <div class="col-lg-10 mainSearch">
      <div id="dropdownBox" class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          Search for...
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Beers</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cap Colors</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Users</a></li>
        </ul>
      </div>
    <div class="input-group mainSearchLine">
      <input id="inputBox" type="text" class="form-control" placeholder="Search for bottlecap">
      <span id="searchButton" class="input-group-btn">
        <button class="btn" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-10 -->

  <div class="col-sm-12 bottlecapShowcase">
  <h1>Most Popular Bottlecaps</h1>
    <div ng-repeat="(key, capData) in main.bottlecapsList" class="col-sm-2 bottlecapCircleContainer">
    <a ng-href="/caps/{{capData._id}}" style="display: block;">
      <h4 id="bottlecapLabel_showcase" ng-style="main.setCapColor(capData)" >{{capData.beername}}</h4>
      <div class="bottlecapCircle" ng-style="{'background-color': 'white'}" >
      </div>
    </a>
    </div>
  </div>

</div>