<div  id="newUserContainer" class="row col-sm-6 col-sm-offset-3">
	
	<div id="newUserBox" class="jumbotron">
		<h2 class="dark-grey text-center">User Registration</h2>

		<form class="form" ng-submit="newUser.saveUser()">
			<div class="form-group col-lg-6">
				<label>First Name</label>
				<input type="text" class="form-control" placeholder=" First Name" ng-model="newUser.userData.firstName">
			</div>

			<div class="form-group col-lg-6">
				<label>Last Name</label>
				<input type="text" class="form-control" placeholder="Last Name" ng-model="newUser.userData.lastName">
			</div>

			<div class="form-group col-lg-12">
				<label>Date of Birth</label>
				<input type="text" class="form-control" placeholder="Month Day, Year" ng-model="newUser.userData.dateofBirth">
			</div>
			
			<div class="form-group col-lg-6">
				<label>Username</label>
				<input type="text" class="form-control" placeholder="Username" ng-model="newUser.userData.username">
			</div>
			
			<div class="form-group col-lg-6">
				<label>Password</label>
				<input type="password" class="form-control" placeholder="Password" ng-model="newUser.userData.password">
			</div>
			
			<div class="form-group text-center"> 
			<button type="submit" class="btn btn-success">Register New User</button>
			<a class="btn btn-warning" href="/">Back</a>	
			</div>
		</form>

		<div class="row show-hide-message" ng-show="login.message">
			<div class="col-sm-6 col-sm-offset-3">

				<div class="alert alert-info">
					{{ login.message }}
				</div>

			</div>
		</div>
		
	</div>
</div>
