<div class="belowNav container" ng-cloak>
  <h1>User: {{profile.user.username}}</h1>

  <div>
    <button ng-click="profile.addFollower(main.user.username, profile.user.username)" class="btn btn-default">
      <span>Follow</span>
    </button>
  </div>

  <h3> User Info: </h3>

  <div>
    <table class="table borderless">
      <tbody>
        <tr><td>Name: {{profile.user.firstName}} {{profile.user.lastName}}</td></tr>
        <tr><td>Birthday: {{profile.user.dateofBirth}}</td></tr>
      </tbody>
    </table>
  </div>

  <h3> {{profile.user.username}}'s Comments: </h3>
  <div>
    <table class="table borderless">
      <thead>
        <tr>
          <th>Cap</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="comment in profile.comments">
          <td><a ng-href="/caps/{{comment.cap}}">{{comment.cap}}</a></td>
          <td>{{comment.commentBody}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3> {{profile.user.username}}'s Likes: </h3>
  <div>
    <table class="table borderless">
      <thead>
        <tr>
          <th>Cap</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cap in profile.user.capLikes"><td><a ng-href="/caps/{{cap}}">{{cap}}</a></td></tr>
      </tbody>
    </table>
  </div>

  <h3> {{profile.user.username}}'s Follows: </h3>
  <div>
    <table class="table borderless">
      <tbody>
        <tr ng-repeat="user in profile.user.follows"><td><a ng-href="/profile/{{user}}">{{user}}</a></td></tr>
      </tbody>
    </table>
  </div>

</div>