<div class="belowNav">
  <div style="float: left;">
    <img height="50" width="50" src="../assets/img/logo_main_edit.png"/>
  </div>
  <div class="col-lg-10 mainSearch">
      <div id="dropdownBox" class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </div>
    <div class="input-group mainSearchLine">
      <input id="inputBox" type="text" class="form-control" placeholder="Search for bottlecap">
      <span id="searchButton" class="input-group-btn">
        <button class="btn" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg- -->

  <div>
    <table class="table table-striped">
      <tr>
        <td>Poo</td>
      </tr>
      <tr>
        <td>Poo</td>
      </tr>
      <tr>
        <td>Poo</td>
      </tr>
    </table>
  </div>

</div>