<div class="belowNav container" ng-cloak>
  <h1>User: {{tempprofile.user.username}}</h1>

  <h3> User Info: </h3>
  <div>
    <table class="table borderless">
      <tbody>
        <tr><td>Name: {{tempprofile.user.firstName}} {{tempprofile.user.lastName}}</td></tr>
        <tr><td>Birthday: {{tempprofile.user.dateofBirth}}</td></tr>
      </tbody>
    </table>
  </div>

  <h3> {{tempprofile.user.username}}'s Comments: </h3>
  <div>
    <table class="table borderless">
      <thead>
        <tr>
          <th>Beer</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Budweiser</td>
          <td>Perfect dark red for my project.</td>
        </tr>
        <tr>
          <td>Bud Light</td>
          <td>Great blue to use for water.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3> {{tempprofile.user.username}}'s Likes: </h3>
  <div>
    <table class="table borderless">
      <thead>
        <tr>
          <th>Beer</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Budweiser</td>
          <td>Red</td>
        </tr>
        <tr>
          <td>Bud Light</td>
          <td>Blue</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3> {{tempprofile.user.username}}'s Follows: </h3>
  <div>
    <table class="table borderless">
      <tbody>
        <tr><td>User12345</td></tr>
        <tr><td>User35793</td></tr>
        <tr><td>User98764</td></tr>
      </tbody>
    </table>
  </div>

</div>