html{
	/*height: 100%;*/

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

body { 
	/*height: auto;*/
	/* padding-top:75px; */
	/* background: linear-gradient(180deg,#B2EEFC 0%,#44c7f4 100%); */
	
	background-color: #3399FF;
	box-shadow: inset 0 0 100px rgba(0,0,0,.2);

	/* font-family: 'Open Sans', sans-serif; */
	font-family: RobotoDraft, sans-serif;

}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#navbar{
	background-color: rgba(136,196,254,1);
}
#mainContainer {
	position: relative;
	min-height: 100%;
	max-width: 100%;
	width: auto;
	display: inline;
}

.navbar-right{
	margin-right: 10px;
}

.navbar-brand{
	color: #FFC300;
}
.ngview-container{
	display: inline;
} 

.belowNav{
	/*
	top: 50px;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	width: auto;
	height: auto;
	
	*/
	height: calc(100% - 50px);
	
	margin-top: 50px;
	
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: inset 0 0 50px rgba(0,0,0,.2);
	width: 100%;
	display: table;
	
}
.mainLogo{
	width: 300px;
	display: block;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

.logoByline{
	color:white;
	width: 100%;
}

.logoByline > h2 {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.mainSearch{
	width: 90%;
	vertical-align: middle;
	margin-left: 5%;
	margin-right: auto;
	margin-top: 5%;
	color: white;
}

.mainSearchLine{
	width: 50%;
	height: 40px;
	margin-left: 25%;
	color: white;
	dispay: table;
}

.searchSelect{
	float: left;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.searchResults{
	color: white;
	width: 95%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

#searchResultsHeader{
	color: white;
	border-bottom: 1px white dashed;
}
#selectionBox{
	color: black;
}
.mainSearchBox{
	margin: auto;
}
#dropdownBox{
	float: left;
}

#inputBox{
	height:100%;
	margin-right: 50px;
	padding: 5px;
	/*display: table-cell;
	vertical-align: middle;*/
}

#searchButton{
	background-color: white;
	margin-left: 10px;
	height: 75%;
}
.bottlecapShowcase{
	color: white;
}

.bottlecapCircleContainer{
	border: 1px solid white;
	margin-left: 10px;
	margin-right: 10px;
	width: 200px;
	height: 200px;
}

#bottlecapLabel_showcase{
	border-radius: 5px;
	padding-left: 10px;
}

.bottlecapCircle{
	/* background-color: white; */
	border: dashed;
	border-radius: 50%;
	margin: auto;
	vertical-align: middle;
	width: 150px;
	height: 150px;

}

.bottlecapCircleInner{

	border-radius: 50%;
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	width: 140px;
	height: 140px;

}

#newUserContainer, #loginContainer {
	margin-top: 150px;
	padding-top: 15px;
}

#singleCapPanel{
	width: 90%;
	height: 50%;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
}

#newCommentBox {
	margin-top: 10px;
}

.profileContainer, .capDetailContainer {
	color: white;
}

.profileContainer > a { 
	color: white; 
	text-decoration: underline;
}

.capDetailContainer > a { 
	color: white; 
	text-decoration: underline;
}

td > a {
	color: white; 
	text-decoration: underline;
}

div > a {
	color: white; 
	text-decoration: underline;
}